//- led.jade
extends ./layout.jade
block title
	title Led
block content
	form(action='/start-led', method='get')
		input.btn.btn-success(type='submit', value='Encender')
	form(action='/stop-led', method='get')
		input.btn.btn-success(type='submit', value='Apagar')
	form(action='/blink-led', method='get')
		input.btn.btn-success(type='submit', value='Parpadear')
	a.btn.btn-bs.btn-outline(href='/') Volver