//- servo.jade
extends ./layout.jade
block title
	title Servo
block content
	form(action='/sweep-servo', method='get')
		input.btn.btn-success(type='submit', value='Sweep')
	form(action='/stop-servo', method='get')
		input.btn.btn-success(type='submit', value='Stop')
	a.btn.btn-bs.btn-outline(href='/') Volver